include ../nav/index

.slide-show-container
  .header-slide.slide-1.header-slide-credit.active-banner
  .header-slide.slide-2.header-slide-credit
.header-content
  .header-content-inner
    .header-text
      .p Artsy with Google Assistant

      nav.header-section-nav
        for link in Object.keys(copy.header.navLinks)
          a( data-section='#{link}' )
            = copy.header.navLinks[link]
      .header-chevron-link-wrapper
        a.header-chevron-link.icon-chevron-down(href="#use") &nbsp;
