@media (min-width 1200px)
  .main-side-margin
    margin 0 auto
    padding 0px 170px

  .body-content-container
    padding-top 0px
    max-width 1600px

  .body-section
    margin-top 150px
    max-height none

  .body-section-content
    flex-direction row
    .body-img
      height 54vw

  .flex-row__reverse
    flex-direction row-reverse

  .body-section-content__section-two
    display flex
    flex-direction row-reverse

  .body-section-title.is-desktop
    display block
    padding-top 0px
    padding-bottom 30px
    text-align center
    font-size 24px
    font-weight bolder
    &:after
      content ''
      display block
      width 50px
      margin 20px auto 0 auto
      border-bottom 2px solid black

  .is-mobile
    display none

  .body-section-title, .body-section-content__section-two
    border-top-style none

  .center-gutter-formatter
    padding 35px
    width 100%
    text-align: center

  .section-two-text-container
    position relative
    top 50%
    transform translateY(80%)
    -moz-transform translateY(-50%)

  .section-two-text-container > p
    font-size 22px

  .top-margin
    margin-top 0px
