section.body-section#enable
  a.js-display-content.is-mobile.chevron
    h1.body-section-title How To Enable
  .body-section-content.js-section-content.closed
    .intro-text.center-gutter-formatter
      h1.body-section-title.is-desktop.top-margin How to Enable
      p Enable Artsy by saying "Hey Google, talk to Artsy".

section.body-section#artists
  a.js-display-content.is-mobile.chevron
    h1.body-section-title Learn About Artists
  .body-section-content.js-section-content.closed
    .intro-text.center-gutter-formatter
      h1.body-section-title.is-desktop.top-margin Learn More About Artists
      p Tell me about the artist Andy Warhol.
      p Who is Norman Rockwell?
      p Who was the artist Pablo Picasso?

section.body-section#open-source
  a.js-display-content.is-mobile.chevron
    h1.body-section-title Open-Source
  .body-section-content.js-section-content.closed
    .intro-text.center-gutter-formatter
      h1.body-section-title.is-desktop.top-margin Open-Source
      p The Artsy Google Assistant integration is open-source and is written in Node.js.
      p More information on Github at <a href="https://github.com/artsy/biesenbach" target="_blank">github.com/artsy/biesenbach</a>.
      p <a href="https://github.com/artsy/biesenbach/issues/new" target="_blank">Suggest a feature!</a>
