doctype html
html( lang="zh" )
  head
    title Artsy for Google Assistant
    meta( name="viewport" content="width=device-width" initial-scale="1" )
    meta( http-equiv="Content-Type" content="text/html; charset=UTF-8" )
    link( rel='stylesheet' type='text/css' href='index.css' )
    link( rel='icon' type='image/png' href='images/favicon.ico' )
    meta(property="og:title" content="Artsy for Google Assistant and Google Home - Powered by The Art Genome Project.")
    meta(name="description" content="Use artsy.net to get information about artists. Powered by The Art Genome Project, hear about the artist's practice in the context of art history.")
    meta(property="og:description" content="Use artsy.net to get information about artists. Powered by The Art Genome Project, hear about the artist's practice in the context of art history.")
    meta(property="twitter:description" content="Use artsy.net to get information about artists and current shows with Google Assistant. Powered by The Art Genome Project.")
    meta(property="og:type" content="website")
    meta(property="og:site_name" content="Artsy for Google Assistant")
    meta(property="og:url" content="assistant.artsy.net")
    meta(property="og:image" content="/images/og_image.jpg")
    meta(property="twitter:card" content="summary")
    script( type="text/javascript", src="//fast.fonts.net/jsapi/f7f47a40-b25b-44ee-9f9c-cfdfc8bb2741.js", async )

  body
    header
      //- Rendered client-side

    .body-content-wrapper
      .body-content-container.main-side-margin
      //- Rendered client-side

    footer.footer
      //- Rendered client-side

    script( src='index.js' )
