footer.footer
  width 100%
  padding-top 100px
  background-color #fff

.footer-logo
  margin 60px 0 30px 0
  text-align center

.footer-content
  text-align center
  padding-bottom 10px

.footer-content p
  margin-bottom 20px

.footer svg
  width 140px

.footer-contact-email
  text-decoration underline

.footer-email
  text-decoration none
  color black